<fieldset>
<legend>Todos Plugin settings</legend>
<p>
  <label>Auto complete parent todos when children done?</label><%= check_box_tag 'settings[todos_auto_complete_parent]', @settings['todos_auto_complete_parent'] %>
</p>

</fieldset>


