

/* css for the project todos screen */
#project-todos ul {
	/*list-style-image: url(/images/sub.gif); */
		list-style-type: none;

}
#project-todos ul.root {
	list-style-image: none;
	list-style-type: none;
	
}
#project-todos ul.root li { font-size: 1.1em; padding-bottom: 0.6em; }
#project-todos ul.root ul.children { padding-bottom: 0px; padding-top: 0.5em;}
#project-todos ul.root ul.children li { font-size: 0.9em; padding-bottom: 0em; padding-top: 0.0em;}
/*#project-todos div.children { padding-bottom: 10px;}*/

span.todo-has-children-true {text-decoration: underline; }

/* #project-todos ul.depth0 { background-color: #cecece;} */

div.new-todo { 
	background-color: #ffe2a9;
	border: 1px solid grey;
	padding: 3px;
	width: 500px;
	margin-left: 40px;
	margin-top: 5px;
	margin-bottom: 20px;
}
div.new-todo  { font-size: 0.8em}
.new-todo-date-cancel {  position: relative; top: 0.6em; left: -0.2em; }


#project-todos li {
	text-align: middle;
	vertical-align: middle;
	margin: 0 0 0 0;
}
/*#project-todos img {
	position: relative;
	top: 2px;
	max-height: 14px;
}*/

.todo-controls {
	margin-left: 0px;
	text-decoration: none;
}
.todo-controls img, .todo-controls a {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	vertical-align:middle;

}
.todos .date {
	font-weight: bold;
	font-size: 0.8em;
	font-family: Arial;
	padding-right: 2px;
}
.done  {	text-decoration: line-through; }
.todos .due {}
.todos .assigned {}
.todos .refers {}
.todos .notes {font-size: 0.9em; font-style:italic;  color: #446994; }
.todos .notes span { margin-left: 1em; }

#todos-link-bar {
  float: right;
  vertical-align: bottom;
  min-height: 6.2em;
}

div#issue-todos .todo { padding: 4px;}
div#issue-todos .todo { border-bottom: 1px solid #ddd; }
div#issue-todos p { margin-top: 0; margin-bottom: 1em;}
div#issue-todos #project-todos ul.root { padding-left: 0px;}
div#issue-todos #project-todos span.notes { color: #888888; font-size: 0.8em; font-style: normal;}
div#issue-todos #project-todos span.notes span.refers { display: none;}

#project-todos li .todo-content p{ display: inline;}
li .todo-content .text form div{ display: none;}

#project-todos li .todo-content span.flash.error, div.new-todo span.flash.error {
    background: transparent url(/images/false.png) no-repeat scroll 0px -2px;
    color: #ff0000;
    font-size: 11px;
    padding-left: 20px;
}

dt.todo {
    background-image:url(../images/todo.png);
}

.todos-edit {
  border: 1px solid #e4e4e4; 
  padding: 0.7em; 
  margin:0.4em; 
  background-color:#f6f6f6;
  float: left;
}
.clearer {}
.todos-edit form { display: inline; }



