<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'todos', :plugin => 'redmine_todos_plugin' %>
<% end %>


<div id=project-todos>
	<h2>Todos</h2>
	<div style="" >
		<%= render :partial => 'new_todo', :locals => {:todo => Todo.new(:project => @project,:assigned_to => User.current)}  
		%>
		
	</div>





	<ul class="todos root" id='todo-children-ul_'>

		<% for todo in @todos %>
				<%= render :partial => 'todo', :locals => { :todo => todo} %>
		<% end %>

	</ul>
		<%= sortable_element "todo-children-ul_", :url => {:action => 'sort', :parent_id => nil, :project_id => @project.id},
				:handle => "todo-content", :tree => true #, :only => "todo-content",
				#:complete => visual_effect(:highlight, "todo-children-ul_")
			  %>
</div>
